extends layout

block content
    .container
        center 
        h1 Hi #{fullname}
        p.lead
             | Here's your data
        a.btn.btn-md.btn-default(role='button', href=profile) Profile
        